<h1>Listing categories</h1>

<table>
	<% @categories.each do |category| %>
	<tr>
		<th>Name</th>
    	<td><%= category.category %></td>
    </tr>
	<% end %>
</table>
<br><br>

<%= link_to 'Back to shop', products_path %>