<h1>ADMIN PANEL</h1>

<h2>Things to manage</h2>

<p><%= link_to 'Products', admin_products_path %></p>
<p><%= link_to 'Categories', admin_categories_path %></p>
<br><br>

<p><%= link_to 'Back to shop', products_path %></p>
